
<div class="container-fluid bg-white text-white-50 footer pt-5 mt-5">
    <div class="container py-1">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="btn btn-dark btn-social mx-2" href="mailto:miandrsruno@gmail.com"><i class="fas fa-envelope"></i>email</a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/jean-bruno-rakotomiandrisoa-93496721b" target="_blank"><i class="fab fa-linkedin-in"></i>linkedin</a>
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/miandrs" target="_blank"><i class="fab fa-github"></i>github</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid copyright bg-dark py-4">
    <p class="text-center text-white">miandrs 2025</p>
</div>    